{% extends 'base.html.twig' %}
{% block title %} Histoire {% endblock %}
{% block body %}


    <div class="container2 background" style="min-height: 97vh;">
        <span class="box ml-4" >L'histoire</span>
        <p class="ml-4 mr-4 text-justify" style="margin-top: 40px">
            Ce projet a été réalisé dans le cadre d'un projet tuteuré de la formation
            Licence Pro Mobilité Numérique - Teprow.

        </p>
    </div>
    <span class="fixed_background"></span>



{% endblock %}