{% extends 'base.html.twig' %}
{% block title %} Histoire {% endblock %}
{% block body %}


    <div class="container2 background" style="min-height: 97vh;">
        <span class="box ml-4" >L'histoire</span>
        <p class="ml-4 mr-4 text-justify" style="text-align: justify;text-align-last: center;margin-top: 40px">
            Ce projet a été réalisé dans le cadre d'un projet tuteuré de la formation
            Licence Professionelle Mobilité Numérique - Teprow.
            <br>
            <br>
            <center>
                <img src="res/logo_dpt.png" style="width: 246px;height: 110px" alt="">
                <br>
            <b>IUT de Belfort Montbéliard - Département Informatique</b>
            </center>
        </p>
    </div>
    <span class="fixed_background"></span>
{% endblock %}