{% extends 'base.html.twig' %}
{% block title %} Règles {% endblock %}
{% block body %}

    <div class="container2  background" style="min-height: 97vh;">
        <span class="box ml-4">Les règles <img src="res/regles.png" style="width: 50px;height: 40px" alt=""></span>
        <p class="ml-4 mr-4 text-justify" style="margin-top: 40px">
            Bienvenue et merci de jouer à CatchPoint!
            <br>
            Avant de commencer, voici quelques règles à suivre :
            Lors de la création de votre parcours, assurez vous de
            ne pas trop éloigner les points ou de mettre trop de points.
            Le jeu doit être accessible à tous. Pour des parcours plus longs
            ou plus difficiles (dénivelé important par exemple), indiquez une
            difficulté Avancé ou Expert.
            De plus, évitez de placer des points à des endroits dangereux
            (autoroutes, falaises..).
            Si un point nécéssite une information supplémentaire, vous pouvez
            donner un indice ou un conseil dans la description de ce point.
            <br>
            Enfin lorsque vous jouez, respectez les consignes de sécurité et le
            code de la route (traversez sur les passages piétons).
            <br>
            Bonne chasse au trésor !
        </p>
    </div>
    <span class="fixed_background"></span>




{% endblock %}