{% extends 'base.html.twig' %}
{% block title %} Règles {% endblock %}
{% block body %}

    <div class="container mt-4 background">
        <span class="box">Les règles</span>
        <p style="margin-top: 40px">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem commodi dolorem doloremque dolores ducimus eaque eligendi eum libero minus, possimus quo rem suscipit vitae, voluptatibus? Aliquid aperiam eaque odio.
        </p>
    </div>
    <span class="fixed_background"></span>




{% endblock %}