.title{
    text-align: center;
    font-family: BenchNine, sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}

.inscription {
    float:right;
    margin-right: 17px;
    margin-top: 11px;
    font-size: 18px;
    font-family: "Trebuchet MS", sans-serif;
}

.logo{
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.bandeau
{
    background-image: linear-gradient(to right, #00f9bf, #C2DB42);

    /* Obligatoire si on veut "voir" le dégradé */
    width: 100%;
    height: 11px;
}

nav{
    font-family: "Trebuchet MS", sans-serif;
}

.nav-item{
    font-size: 20px;
}


body {
    background-color: white;
}

.fixed_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, gray , darkgrey);
    z-index: -1000;
    top: 15%;
}

.test {
    background-color: blue;
    z-index: 1001;
}

